
body {
  background: url('images/tiles/space.jpg');
  overflow-x: auto;

  background-color:grey;
  width:fit-content;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
header h1 {
  color: white;
  font-size: 3.5em;
  line-height: 0px;
  float:left
}
header form {
  float: right;
}
header, footer{
  width:100%;
  color:white;
}
header, footer, game, nav, aside, map {
  padding: 1em;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #450099;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
inventory {
  display:block;
  background-color:lightslategrey;
  width:146px;
  padding:5px;
  border-radius:10px;
}
inventory > item {
  display:inline-block;
  background-color: darkslategrey;
  margin:2px;
  cursor:pointer;
  position:relative;
  border-radius:5px;
  height:44px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
inventory > item > amount {
  position:absolute;
  bottom:0;
  right:2px;
  font-size:.7em;
  color:white;
}
inventory > item > description {
  visibility: hidden;
  position:absolute
}
inventory > description {
  display:block;
  background-color: darkslategrey;
  color:white;
  padding: 2px;
  font-size:1em;
  border-radius:5px;
}
room {
  position:relative;
  display: block;
  width:480px;
  height:480px;
}
shop {
  position:relative;
  display: block;
  width:480px;
  height:480px;
}
nav {
  clear:left;
  float:left;
  height:auto;
  color:white
}
game {
  float:left;
	position:relative;
	width:515px;
	height:480px;
  padding:0;
  margin:0px;
  background-color:white; 
  height: auto;
}
user, item, door {
	position:absolute;
	width:32px;
	height:32px;
	display:block;
  cursor:pointer;
}

user img {
	position:absolute;
	bottom:0px;
}